@import '../../styles/variables.scss';

#settings {
  display: flex;

  .content_container {
    width: 100%;
    border-left: 1px solid $color_two--transparent;
    padding: 0 2rem;

    .settings__view {
      .view__title {
        margin-bottom: 1rem;
      }

      .view__subtitle {
        margin-bottom: 4rem;
      }

      .view__form {
        .form__title {
          margin-bottom: 0.5rem;
        }

        .form__input_container {
          display: flex;
          justify-content: flex-start;
          gap: 1rem;
          margin-bottom: 2rem;

          input {
            width: fit-content;
          }
        }
      }
    }
  }
}
