@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

#post_content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  z-index: 999;

  .post_content__popup {
    width: 100%;
    max-width: 600px;
    max-height: 80vh; // Tamanho máximo fixo para o pop-up
    background-color: $bg_dark;
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid $color_two;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    position: relative;

    .popup__close_btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background-color: transparent;

      &:hover {
        color: $color_two;
      }
    }

    .popup__left_section {
      width: 100%;
      .left_section__image {
        width: 100%;
        max-height: 500px; // Limitar a altura da imagem para permitir mais espaço para comentários
        margin-bottom: 0.5rem;
        object-fit: cover;
        object-position: center center;
      }

      .left_section__buttons_container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        svg {
          font-size: $font_text;
          cursor: pointer;

          &.red-heart {
            color: red;
          }
        }

        span {
          margin-left: 0.5rem;
          font-size: $font_text;
        }
      }
    }

    .popup__right_section {
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow-y: auto; // Permitir rolagem vertical na seção de comentários

      .comments_section {
        flex: 1; // Permitir que a seção de comentários ocupe o espaço disponível
        overflow-y: auto; // Permitir rolagem vertical
      }

      .right_section__title {
        font-size: $font_text;
        margin-bottom: 1rem !important;
      }

      .right_section__description {
        line-height: 1.4rem;
      }
    }
  }
}
