@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

#post_content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  z-index: 999;

  .post_content__popup {
    width: 100%;
    max-width: 600px;
    background-color: $bg_dark;
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid $color_two;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    position: relative;

    .popup__close_btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background-color: transparent;

      &:hover {
        color: $color_two;
      }
    }

    > div {
      width: calc(50% - 0.5rem);
    }

    .popup__left_section {
      .left_section__image {
        width: 100%;
        aspect-ratio: 1 / 1;
        margin-bottom: 0.5rem;
        object-fit: cover;
        object-position: center center;
      }

      .left_section__buttons_container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 1rem;

        svg {
          font-size: $font_text;
          cursor: pointer;
        }
      }
    }

    .popup__right_section {
      .right_section__title {
        font-size: $font_text;
        margin-bottom: 1rem !important;
      }

      .right_section__description {
        line-height: 1.4rem;
      }
    }
  }
}
