@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

#enter_name_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);

  .search_results {
    margin-bottom: 2rem;
    max-width: 550px;
    max-height: 350px; // Defina a altura máxima desejada
    overflow-y: auto; // Adiciona uma barra de rolagem vertical se necessário
    padding: 0;
    margin: 0;
    list-style: none;

    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;
      background-color: rgb(22, 22, 22);
      border-radius: 10px;

      img {
        width: 5rem;
        aspect-ratio: 1 / 1;
        border-radius: 10px;
      }
    }
    p {
      margin: 0;
    }
  }
  .enter_name_popup {
    width: 100%;
    max-width: 600px;
    background-color: $bg_dark;
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid $color_two;

    .name_input {
      margin-bottom: 2rem;
    }

    .buttons_container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .enter_button {
        @include btn_two;
        min-width: 8rem;
      }

      .cancel_button {
        @include btn_two--secondary;
        min-width: 8rem;
      }

      .cancel_button {
        border-radius: $element_border_radious;
      }
    }
  }
}
