@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

#hive {

  * {
    box-sizing: border-box; /* Para garantir que padding e bordas sejam incluídos no tamanho total do elemento */
  }

  .header_container {
    display: flex;
    flex-direction: column; /* Empilhar headers um sobre o outro */
    padding: 1rem 2rem;
    margin-bottom: 2rem; /* Adiciona espaçamento entre o header e o conteúdo */
    
    .header_top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem; /* Controlando o espaçamento entre os headers */
      .header_btn {
        @include btn_one; // Supondo que btn_two é o mixin que você quer usar
      }
      
      .header_image_container {
        display: flex;
        gap: 2rem;
        align-items: center;
        .header_image {
          width: 4rem;
          border-radius: 5px;
        }
      }
    }
  
    .header_bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      .header_bottom__links {
        display: flex;
        .hive_header_btn {
          @include btn_two;
          margin-right: 1rem;
        }
        .hive_header_btn--active {
          @include btn_two--secondary;
        }
      }
      #new_post_btn {
        @include btn_one;
      }
    }
  }
  
  .hive_data_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas de largura igual */
    gap: 1rem;
    max-height: max-content; // Remove o limite de altura
  
    .hive_content_container {
      cursor: pointer;
      &:hover .image {
        scale: 1.01;
      }
      .image {
        width: 100%;
        aspect-ratio: 10 / 6;
        object-fit: cover;
        object-position: center;
        margin-bottom: 0.5rem;
        border-radius: $element_border_radious;
        transition: $transition_one;
      }
    }
  }
  
  /* Responsividade */
  @media (max-width: 1200px) {
    .hive_data_container {
      grid-template-columns: repeat(2, 1fr); /* 2 colunas para telas menores */
    }
  }
  
  @media (max-width: 768px) {
    .hive_data_container {
      grid-template-columns: 1fr; /* 1 coluna para telas pequenas */
    }
  }
  
  .hive_content_container {
    .image {
      width: 80%; /* Reduz o tamanho dos elementos */
    }
  }
  
}
