@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

#profile {
  display: flex;

  margin-left: -400px; /* Certifique-se de que a margem inicial seja 0 */
  transition: margin-left 0.3s ease-in-out;
  
  .profile_left_section {
    .profile_image_container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 2rem;

      .profile_image {
        width: 10rem;
        height: 10rem;
        border-radius: 100%;
        background-color: $bg_gray;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }

      .profile_username {
        margin-bottom: 0.5rem;
      }
    }

    .profile_social_container {
      display: flex;
      gap: 1rem;
      margin-bottom: 2rem;

      img {
        width: 3rem;
        aspect-ratio: 1 / 1;
      }

    }
  }

  .profile_right_section {
    padding: 0 4rem;
    width: 100%;

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    .profile_about_container {
      margin-bottom: 4rem;

      .profile_about_text {
        max-width: 600px; // Defina o limite de largura desejado
        overflow: auto; // Permite rolar o conteúdo se for muito extenso
        white-space: pre-wrap; // Mantém os espaços em branco e quebra de linha
        word-wrap: break-word; // Quebra as palavras longas para a próxima linha
      }
    }

    .profile_hives_container {
      margin-bottom: 4rem;

      .profile_hives_title {
        margin-bottom: 1rem;
      }

      .profile_hives_list {
        margin-bottom: 2rem;
        max-width: 350px;
        max-height: 250px; // Defina a altura máxima desejada
        overflow-y: auto; // Adiciona uma barra de rolagem vertical se necessário
        padding: 0;
        margin: 0;
        list-style: none;

        a {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin-bottom: 1rem;

          img {
            width: 5rem;
            aspect-ratio: 1 / 1;
            border-radius: 10px;
          }
        }
        p {
          margin: 0;
        }
      }

      .hives_buttons_container {
        .button {
          @include btn_one;
          display: inline-block;
          font-size: 1.1rem;
        }
      }
    }
  }

  .profile_icons_container {
    .button {
      display: block;
      background-color: $color_two;
      margin-bottom: 0.8rem;
      padding: 0.2rem;
      border-radius: 5px;

      svg {
        font-size: 2rem;

        * {
          color: $dark_text;
        }
      }
    }
  }
}
