@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

#profile {
  display: grid; /* Alterado para flex para garantir que as seções se alinhem de maneira fluída */
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
  flex-wrap: wrap; /* Permite que os itens se movam para uma nova linha quando necessário */

  .profile_left_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Garante que a seção ocupe toda a largura disponível */

    .profile_image_container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 2rem;
      align-items: center; /* Centraliza a imagem */

      .profile_image {
        width: 10rem;
        height: 10rem;
        border-radius: 100%;
        background-color: $bg_gray;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }

      .profile_username {
        margin-bottom: 0.5rem;
        text-align: center; /* Centraliza o nome de usuário */
      }
    }

    .profile_social_container {
      display: flex;
      gap: 1rem;
      margin-bottom: 2rem;
      justify-content: center; /* Centraliza os ícones sociais */

      img {
        width: 3rem;
        aspect-ratio: 1 / 1;
      }
    }
  }

  .profile_right_section {
    width: 100%;
    padding: 0 4rem;
    box-sizing: border-box; /* Garante que o padding não ultrapasse os limites da tela */

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    .profile_about_container {
      margin-bottom: 4rem;

      .profile_about_text {
        max-width: 600px;
        overflow: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }

    .profile_hives_container {
      margin-bottom: 4rem;

      .profile_hives_title {
        margin-bottom: 1rem;
      }

      .profile_hives_list {
        margin-bottom: 2rem;
        max-width: 350px;
        max-height: 250px;
        overflow-y: auto;
        padding: 0;
        margin: 0;
        list-style: none;

        a {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin-bottom: 1rem;

          img {
            width: 5rem;
            aspect-ratio: 1 / 1;
            border-radius: 10px;
          }
        }
        p {
          margin: 0;
        }
      }

      .hives_buttons_container {
        .button {
          @include btn_one;
          display: inline-block;
          font-size: 1.1rem;
        }
      }
    }
  }

  .profile_icons_container {
    .button {
      display: table;
      background-color: $color_two;
      margin-bottom: 0.8rem;
      padding: 0.2rem;
      border-radius: 5px;

      svg {
        font-size: 2rem;

        * {
          color: $dark_text;
        }
      }
    }
  }
}

/* Responsividade */
@media (max-width: 768px) {
  #profile {
    flex-direction: column; /* Alinha as seções em coluna */
    align-items: center;
    padding: 1rem; /* Adiciona padding no container principal */
  }

  .profile_left_section,
  .profile_right_section {
    width: 100%; /* Garante que ambas as seções ocupem 100% da largura */
    padding: 0; /* Remove o padding das seções */
  }

  .profile_right_section {
    padding: 0; /* Ajusta o padding da seção direita */
  }

  .profile_image_container {
    .profile_image {
      width: 8rem; /* Reduz o tamanho da imagem */
      height: 8rem;
    }
  }

  .profile_social_container {
    justify-content: center; /* Centraliza os ícones sociais */
  }

  .profile_about_container {
    .profile_about_text {
      max-width: 100%; /* Aumenta a largura para 100% */
    }
  }

  .profile_hives_container {
    .profile_hives_list {
      max-width: 100%; /* Aumenta a largura para 100% */
      max-height: 200px; /* Ajusta a altura máxima para telas menores */
    }
  }

  .profile_icons_container {
    width: 100%;
    display: flex;
    justify-content: center; /* Centraliza os ícones */
    gap: 1rem;
  }
}
