@import './variables.scss';

@mixin page_layout {
  width: 100%;
  min-height: 100vh;
  padding: 2rem 4rem;
  padding-left: 24rem;
}

@mixin btn_one {
  background-color: $color_one;
  border: none;
  margin-right: 1rem;
  padding: 0.8rem 1.6rem;
  border-radius: 4px;
  cursor: pointer;
  color: $light_text;
  font-size: 1.1rem;
  transition: $transition_one;

  &:hover {
    background-color: $color_one--light;
  }
}
