@import './variables.scss';

@mixin btn_one {
  background-color: $color_one;
  border: 2px solid $color_one;

  &:hover {
    background-color: transparent;
    color: $color_one;
  }
}

@mixin btn_one--secondary {
  background-color: transparent;
  border: 2px solid $color_one;
  color: $color_one;

  &:hover {
    background-color: $color_one;
    color: $light_text;
  }
}

@mixin btn_two {
  background-color: $color_two;
  border: 2px solid $color_two;

  &:hover {
    background-color: transparent;
    color: $color_two;
  }
}

@mixin btn_two--secondary {
  background-color: transparent;
  border: 2px solid $color_two;
  color: $color_two;

  &:hover {
    background-color: $color_two;
    color: $light_text;
  }
}
