@import './variables.scss';

#sidebar {
  background-color: $bg_dark;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid $color_two--light;

  .logo_container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;

    .logo {
      width: 3rem;
    }

    h1 {
      font-family: $font_family--logo;
    }
  }

  ul {
    list-style: none;

    li {
      width: 100%;
      display: flex;
      gap: 0.8rem;
      align-items: center;
      margin-bottom: 1rem;
      border-radius: 5px;
      padding: 0.2rem;
      padding-right: 10rem;
      transition: $transition_one;

      &:hover {
        background-color: #1a1a1a;
      }

      svg {
        font-size: 2.8rem;

        * {
          color: $color_two;
        }
      }

      p {
        color: $color_two;
      }
    }
  }
}
