$light_text: #ffffff;
$dark_text: #000000;

$bg_dark: #000;
$bg_gray: #141414;

$font_title: 3.8rem;
$font_subtitle: 2.3rem;
$font_text: 1.3rem;
$font_small: 0.9rem;

$font_family--logo: 'Handlee', sans-serif;

$color_one: #7b1ac8;
$color_one--light: #bc6aff;
$color_two: #c99c14;
$color_two--light: #fcd252;

$element_border_radious: 4px;

$transition_one: linear 0.2s;
$transition_two: linear 0.4s;
