@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

#home {
  * {
    color: $light_text;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 2rem;

    .header_btn {
      @include btn_one;
      margin-right: 1rem;
    }

    .header_btn_container {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap; /* Permitir que os botões se ajustem no espaço disponível */
    }

    .header_image_container {
      display: flex;
      align-items: center;

      .header_image {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: $bg_gray;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }
    }
  }

  h2 {
    margin-bottom: 2rem;
  }

  .your_hives {
    margin-bottom: 4rem;
    margin-top: 2rem;
    max-height: none;

    .hives_container {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      flex-direction: row;
      overflow-y: auto;

      .hive {
        min-width: 28%;
        max-width: 80%;
        width: 8rem;
        padding: 1rem;
        background-color: lighten($bg_dark, 5%);
        cursor: pointer;
        transition: $transition_one;

        .hive_image {
          width: 100%;
          aspect-ratio: 1 / 1;
          object-fit: cover;
          object-position: center center;
          border-radius: 10px;
          margin-bottom: 0.5rem;
        }

        &:hover {
          scale: 1.01;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #home {
    padding: 1rem;
  }

  .header {
    flex-direction: initial;
    align-items: stretch;
    padding: 1rem;

    .header_btn_container {
      gap: 0.5rem;
      justify-content: center; /* Centralizar os botões */
    }

    .header_image_container {
      justify-content: center;
      .header_image {
        width: 4rem;
        height: 4rem;
      }
    }
  }

  h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .your_hives {
    .hives_container {
      flex-direction: column;
      align-items: center;

      .hive {
        min-width: 90%;
        max-width: 100%;
        width: 90%;
      }
    }
  }
}
