@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

#home {
  * {
    color: $light_text;
  }

  .header {
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .header_btn {
      @include btn_one;
      margin-right: 1rem;
    }

    .header_image_container {
      .header_image {
        width: 6rem;
        height: 6rem;
        border-radius: 100%;
        background-color: $bg_gray;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }
    }
  }

  h2 {
    margin-bottom: 2rem;
  }

  .your_hives {
    margin-bottom: 4rem;
    max-height: none; // Remove o limite de altura

    .hives_container {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      flex-direction: row; // Altera a direção do flex para linha
      overflow-y: auto; // Adiciona rolagem vertical se necessário

      .hive {
        min-width: 28%; // Ajuste a largura mínima
        max-width: 80%; // Ajuste a largura máxima
        width: 8rem; // Ajuste a largura
        padding: 1rem; // Adiciona padding para o fundo cinza escuro
        background-color: #161616; // Cor de fundo cinza escuro
        cursor: pointer;
        transition: $transition_one;

        .hive_image {
          width: 100%;
          aspect-ratio: 1 / 1;
          object-fit: cover;
          object-position: center center;
          border-radius: 10px;
          margin-bottom: 0.5rem;
        }

        &:hover {
          scale: 1.01;
        }
      }
    }
  }
}
