@import "../../../../../styles/variables.scss";
@import "../../../../../styles/mixins.scss";

// Comments.scss
.comments_section {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.comments_list {
  flex-grow: 1;
  overflow-y: auto; // Permitir rolagem vertical na lista de comentários
}

.no_comments {
  text-align: center;
  color: $color_two;
  font-size: 1.2rem;
  margin-top: 20px;
}

.comments_section__input {
  display: flex;
  align-items: center;
  padding: 10px;
  position: fixed; // Garantir que a barra fique sempre visível
  bottom: 0;
  left: 0; // Alinhar à esquerda da tela
  width: 100%; // Garante que a barra de input ocupe toda a largura do contêiner
  background-color: $bg_dark;
  z-index: 10; // Garantir que a barra de input fique acima da lista de comentários

  input {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 1rem;
  }

  button {
    background: none;
    border: none;
    font-size: 1rem; // Diminuir o tamanho do botão
    cursor: pointer;
    padding: 5px 10px; // Ajustar padding para reduzir tamanho
  }
}

.comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px; // Reduzir a margem inferior
  border-radius: 8px; // Bordas arredondadas menores
  background-color: lighten($bg_dark, 5%); // Cor de fundo mais clara
  padding: 5px; // Reduzir padding
  position: relative; // Adiciona isso para permitir o posicionamento absoluto dos botões
}

.comment__avatar {
  width: 40px; // Diminuir o tamanho do avatar
  height: 40px; // Diminuir o tamanho do avatar
  border-radius: 50%;
  flex-shrink: 0; // Impede que a imagem diminua de tamanho
  
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.comment__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; // Faz o conteúdo crescer para ocupar o espaço disponível
  margin-left: 10px; // Adiciona margem à esquerda do conteúdo
}

p.error_message {
  background-color: red;
}

.comment__header {
  display: flex;
  justify-content: space-between;
  align-items: center; // Centralizar verticalmente
}

.delete-button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  position: absolute;
  top: 5px; // Ajustar posição superior
  right: 5px; // Ajustar posição direita
  font-size: 1rem; // Ajustar o tamanho do ícone
}

.read-more-button {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  font-size: 0.8rem; // Diminuir o tamanho do botão
  position: relative; // Permite que o botão siga o fluxo do texto
  margin-left: 5px; // Adiciona um pouco de espaçamento
}

.comment__username {
  font-weight: bold;
  font-size: 0.9rem; // Diminuir o tamanho da fonte do nome de usuário
}

.comment__text {
  position: relative;
  margin-right: 60px; // Ajustar margem direita
  padding-right: 60px; // Ajustar padding direito
  display: inline; // Certifica-se de que o texto e o botão estejam em linha
  font-size: 0.8rem; // Diminuir o tamanho da fonte do texto
}
