@import './styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

body {
  background-color: $bg_dark;
  color: $light_text;
}

a {
  color: $light_text;
  text-decoration: none;
}

button {
  border: none;
}

li {
  list-style: none;
}

.f_s {
  font-size: 1.1rem;
}

.fs_m {
  font-size: 1.4rem;
}
