@import './styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

body {
  background-color: $bg_dark;
  color: $light_text;
}

a {
  color: $light_text;
  text-decoration: none;
}

button {
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: $element_border_radious;
  cursor: pointer;
  color: $light_text;
  font-size: 1.1rem;
  transition: $transition_one;
}

li {
  list-style: none;
}

input {
  width: 100%;
  background-color: $bg_gray;
  border: $light_text;
  color: $light_text;
  font-size: 1.1rem;
  border-radius: 5px;
  padding: 0.8rem 0.5rem;

  &:focus {
    outline: none;
  }
}

.f_s {
  font-size: 1.1rem;
}

.fs_m {
  font-size: 1.4rem;
}
